<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>GetACCESSTOKEN</display-name>


	<servlet>
    <description>获取标示</description>
    <display-name>getAT</display-name>
    <servlet-name>getAT</servlet-name>
    <servlet-class>
          cn.yiyingli.Servlet.GetATServlet
       </servlet-class>
  	</servlet>
		
   <servlet-mapping>
    <servlet-name>getAT</servlet-name>
    <url-pattern>/getAT</url-pattern>
  </servlet-mapping>
  
  
</web-app>